<tr>
    <td><%= item.description %></td>
    <td><%= item.color %></td>
    <td><%= item.quantity %></td>
    <td><%= "R$ #{item.unit_cost}"%></td>
    <td><%= "R$ #{item.product_cost}" %></td>
    <td><%= "R$ #{item.price}" %></td>
</tr>