<%= form_for @product do |form| %>
  <div class="container">
    <h2>Cadastrar produto</h2>
    <form>
      <div class="form-group">
        <label for="description">Descrição</label>
       <%= form.text_field :description, class: "form-control", placeholder: "Descrição do produto", required: "true" %>
      </div>
      <div class="form-group">
        <label for="color">Cor</label>
        <%= form.text_field :color, class: "form-control", placeholder: "Cor", required: "true" %>
      </div>
      <div class="form-group">
        <label for="quantity">Quantidade</label>
       <%= form.number_field :quantity, class: "form-control", placeholder: "Ex. 5", required: "true" %>
      </div>
      <div class="form-group">
        <label for="unit_cost">Custo</label>
        <%= form.number_field :unit_cost, class: "form-control", placeholder: "Ex. 5.00", required: "true" %>
      </div>
      <div class="form-group">
        <label for="product_cost">Produção</label>
        <%= form.number_field :product_cost, class: "form-control", placeholder: "Ex. 1.50", required: "true" %>
      </div>
      <div class="form-group">
        <label for="price">Preço</label>
        <%= form.number_field :price, class: "form-control", placeholder: "Ex. 5.00", required: "true" %>
      </div>
      <%= form.submit "Salvar", class: "btn btn-primary" %>
    </form>
  </div>
  <% end %>
